 .box{
display: flex;
flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  border-radius: 15px;
  text-align: center;
 padding: 15px;
  transition: 0.3s;
}

.box:hover{
 background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.02)) 
}

.forecast-container{
    gap: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
}



#text{
color: white;
}

#icon{
    color: rgb(233, 233, 233);
}

#day{
color: white;
}

#daily-temp{
color: white;
}
.heading{

    
    display: flex;
    justify-content: center;
width: 100%;
  
}

.section-1{
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 70px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.section-2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 70px;
    align-items: center;
    display: flex;
    gap: 10px;
}

#forecast-info{
    padding: 10px;
    width: 100%;
    display: flex; 
    justify-content: space-between;
     gap: 20px;
 }



#text{
display:none;
}
    




@media (max-width: 786px) {

    .box{
        display: flex;
        justify-content: center;
    }

.forecast-parent{
display: flex;
justify-content: center;
}



    .forecast-container{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }


    #day{
   
        width: 40px;
    }

    #text{
        display: block;
    }

    .heading{
       /* padding-left: 20px; */
        /* display: flex;
        justify-content:start; */
    }
    
   
    .section-1{
         width: 180px;
        display: flex;
        justify-content: start;
    flex-direction: row;
    /* border: 1px solid red; */
    gap: 10px;
}

.section-2{

    display: flex;
    justify-content: space-between;
    width: 80px;
    flex-direction: row;
}

 }